<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>商品列表</title>
 </head>
 <body>
<h3>商品列表</h3><hr>
  <table border=1>
  <tr>
  <td>id</td>
  <td>商品名</td>
  <td>价格</td>
  <td>市场价</td>
  <td>库存</td>
  <td>是否显示</td>
  <td>属性</td>
  <td>操作</td>
  </tr>
  <?php
  foreach ($result as $row){
  ?>
	  <tr>
	  <td><?php echo $row['goods_id'] ?></td>
    <td><?php echo $row['goods_name'] ?></td>
	  <td><?php echo $row['price'] ?></td>
	  <td><?php echo $row['market_price'] ?></td>
	  <td><?php echo $row['stock_num'] ?></td>
	  <td><?php echo $show[$row['is_show']] ?></td>
	  <td><?php echo $row['status'] ?></td>
	  <td>
    <a href="?c=User&a=Detail&id=<?php echo $row['user_id'] ?>">详细</a>　
    <a href="?c=User&a=Delete&id=<?php echo $row['user_id'] ?>">删除</a>　
    <a href="?c=User&a=Modify&id=<?php echo $row['user_id'] ?>">修改</a></td>
	  </tr>
  <?php } ?> 
  </table>
  当商品总数：<?php echo $sum ?>
<hr>
 </body>
</html>