<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>ECSHOP 管理中心</title>
<meta content="noindex, nofollow" name="robots">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="web/back/styles/general.css">
<link type="text/css" rel="stylesheet" href="web/back/styles/main.css">

</head>
<body style="cursor: auto;">

<h1>
<span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span class="action-span1" id="search_id"></span>
<div style="clear:both"></div>
</h1>
<!-- directory install start -->

<div class="list-div">
欢迎您，<?php echo  $_SESSION['USER'] ?>
</div>

<div id="footer">
&copyECSHOP,Thanks!
</div>

</body></html>